[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
ExecStart=/usr/bin/jupyter-notebook --config={{ jupyter_notebook_config_file }}
User={{ jupyter_notebook_username }}
Group={{ jupyter_notebook_group }}
WorkingDirectory={{ jupyter_notebook_workdir }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
